/* Styling for the header element in the contact section */
.contact-header {
    text-align: center; /* Center-align the text within the element */
    margin-top: 1rem; /* Add 1rem margin on the top */
    margin-bottom: 1rem; /* Add 1rem margin on the bottom */
    font-size: 50px; /* Set the font size to 50 pixels */
}

/* Styling for the custom send message button */
.send-message-button {
    background-color: green; /* Set the background color to green */
    border: none; /* Remove borders around the button */
    color: white; /* Set the text color to white */
    text-align: center; /* Center-align the text within the button */
    text-decoration: none; /* Remove any underlines or text decorations */
    display: inline-block; /* Display the button as an inline block element */
    font-size: 16px; /* Set the font size to 16 pixels */
    margin: 4px 2px; /* Add 4 pixels margin on top and bottom, 2 pixels on left and right */
    cursor: pointer; /* Show a pointer cursor when hovering over the button */
    padding: 10px 24px; /* Add 10 pixels padding on top and bottom, 24 pixels on left and right */
    border-radius: 4px; /* Add a 4 pixels border radius, giving a slightly rounded appearance */
    transition-duration: 0.4s; /* Set the duration for transition effects to 0.4 seconds */
}

/* Styling for the custom send message button when hovered over */
.send-message-button:hover {
    background-color: darkgreen; /* Change the background color to dark green on hover */
    color: white; /* Set the text color to white on hover */
}
